<div class="banner-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner-text">
                    <div class="banner-text-iner">
                        <p>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
                        <h1>Gym Notes</h1>
                        <a asp-page="/Account/Login" asp-area="Identity" class="main-button">Go to application</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
