<div class="container">
    <div class="row justify-content-center mb-5 pb-5">
        <div class="col-lg-5">
            <div class="text-center">
                <h2 class="dark-text">Our Most Famous Features</h2>
                <p>
                    As a team, our mission is to bring you a high quality product that will improve your
                    workouts, as well as simplify tracking your progress and lifting needs.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="container card">
                <div class="container mt-2 pt-2 pb-5 icon">
                    <i class="fas fa-dumbbell fa-7x"></i>
                </div>
                <h3>Track your lifts</h3>
                <p>
                    Easily track your current PRs and future goals. Write down
                    all of your current lifts, and check back on your old ones to
                    see your progress in the gym.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="container card">
                <div class="container mt-2 pt-2 pb-5 icon">
                    <i class="far fa-calendar-alt fa-7x"></i>
                </div>
                <h3>Track your schedule</h3>
                <p>
                    Easily track your training schedule with a few clicks.
                    Effortlessly plan ahead your splits, and keep your lifting
                    schedule in check. Click on past dates to check what lifts you did.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="container card">
                <div class="container mt-2 pt-2 pb-5 icon">
                    <i class="fas fa-weight fa-7x"></i>
                </div>
                <h3>Track your weight</h3>
                <p>
                    Easily and effortlessly track your changes in weight. On a cut?
                    Enter your goal weight and learn how many calories you should take in
                    to reach your new weight goal. Manage your progress weekly as your weight shifts
                    in the right direction.
                </p>
            </div>
        </div>
    </div>
</div>