<div class="training-plan-bg overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center">
            <div class="container pt-3 pb-5 mb-5 pl-3 pr-3">
                <div class="icon-part">
                    <i class="fas fa-calendar-check fa-7x"></i>
                </div>
            </div>
            <div class="container pt-3 pb-3 pl-3 pr-3">
                <div class="table-responsive pt-3 pb-3 pl-3 pr-3 schedule-content">
                    <h2>Plan Your Training</h2>
                    <table class="table schedule-content-table">
                        <thead>
                            <tr>
                                <th scope="col">Group of exercise</th>
                                <th scope="col" class="text-center">Monday</th>
                                <th scope="col" class="text-center">Tuesday</th>
                                <th scope="col" class="text-center">Wednesday</th>
                                <th scope="col" class="text-center">Thursday</th>
                                <th scope="col" class="text-center">Friday</th>
                                <th scope="col" class="text-center">Saturday</th>
                                <th scope="col" class="text-center">Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Shoulders</td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Triceps</td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Biceps</td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Chest</td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Back</td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Legs</td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Abs</td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Cardio</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                                <td class="text-center"></td>
                            </tr>
                            <tr>
                                <td scope="row">Rest</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><i class="fas fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>