@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="limiter">
    <div class="login-container">
        <span class="login-form-title p-b-53 center">
            Please check your email to reset your password
        </span>

        <div class="login-container-form-button m-t-17 center">
            <div class="login-container">
                <a asp-page="./Login" class="txt3 small-border">
                    Back to login page
                </a>
            </div>
        </div>
    </div>
</div>