@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="limiter">
    <div class="login-container">
        <span class="login-form-title p-b-53 center">
            Your password has been reset
        </span>

        <div class="login-container-form-button m-t-17 center">
            <div class="login-container">
                <a asp-page="./Login" class="txt3 small-border">
                    Click here to log in
                </a>
            </div>
        </div>
    </div>
</div>
